%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Core ==
{deps, [
  {pmod_transform, {git, "https://github.com/erlang/pmod_transform.git", {branch, "master"}}}
]}.

{erl_opts, [
  {parse_transform, pmod_pt}
]}.
